# Configuration file

general {

    ceu {

        ulv {
            # Conversion ratio between two energy units (INPUT:OUTPUT)
            S:conversionRatio=1:4
            B:disable=false
        }

        lv {
            # Conversion ratio between two energy units (INPUT:OUTPUT)
            S:conversionRatio=1:4
            B:disable=false
        }

        mv {
            # Conversion ratio between two energy units (INPUT:OUTPUT)
            S:conversionRatio=1:4
            B:disable=false
        }

        hv {
            # Conversion ratio between two energy units (INPUT:OUTPUT)
            S:conversionRatio=1:4
            B:disable=false
        }

        ev {
            # Conversion ratio between two energy units (INPUT:OUTPUT)
            S:conversionRatio=1:4
            B:disable=false
        }

        iv {
            # Conversion ratio between two energy units (INPUT:OUTPUT)
            S:conversionRatio=1:4
            B:disable=false
        }

        luv {
            # Conversion ratio between two energy units (INPUT:OUTPUT)
            S:conversionRatio=1:4
            B:disable=false
        }

        zpm {
            # Conversion ratio between two energy units (INPUT:OUTPUT)
            S:conversionRatio=1:4
            B:disable=false
        }

        uv {
            # Conversion ratio between two energy units (INPUT:OUTPUT)
            S:conversionRatio=1:4
            B:disable=false
        }

    }

    cef {

        ulv {
            # Conversion ratio between two energy units (INPUT:OUTPUT)
            S:conversionRatio=4:1
            B:disable=true
        }

        lv {
            # Conversion ratio between two energy units (INPUT:OUTPUT)
            S:conversionRatio=4:1
            B:disable=true
        }

        mv {
            # Conversion ratio between two energy units (INPUT:OUTPUT)
            S:conversionRatio=4:1
            B:disable=true
        }

        hv {
            # Conversion ratio between two energy units (INPUT:OUTPUT)
            S:conversionRatio=4:1
            B:disable=true
        }

        ev {
            # Conversion ratio between two energy units (INPUT:OUTPUT)
            S:conversionRatio=4:1
            B:disable=true
        }

        iv {
            # Conversion ratio between two energy units (INPUT:OUTPUT)
            S:conversionRatio=4:1
            B:disable=true
        }

        luv {
            # Conversion ratio between two energy units (INPUT:OUTPUT)
            S:conversionRatio=4:1
            B:disable=true
        }

        zpm {
            # Conversion ratio between two energy units (INPUT:OUTPUT)
            S:conversionRatio=4:1
            B:disable=true
        }

        uv {
            # Conversion ratio between two energy units (INPUT:OUTPUT)
            S:conversionRatio=4:1
            B:disable=true
        }

    }

    iceu {

        lv {
            # Conversion ratio between two energy units (INPUT:OUTPUT)
            S:conversionRatio=1:1
            B:disable=true
        }

        mv {
            # Conversion ratio between two energy units (INPUT:OUTPUT)
            S:conversionRatio=1:1
            B:disable=true
        }

        hv {
            # Conversion ratio between two energy units (INPUT:OUTPUT)
            S:conversionRatio=1:1
            B:disable=true
        }

        ev {
            # Conversion ratio between two energy units (INPUT:OUTPUT)
            S:conversionRatio=1:1
            B:disable=true
        }

    }

    icef {

        lv {
            # Conversion ratio between two energy units (INPUT:OUTPUT)
            S:conversionRatio=1:1
            B:disable=true
        }

        mv {
            # Conversion ratio between two energy units (INPUT:OUTPUT)
            S:conversionRatio=1:1
            B:disable=true
        }

        hv {
            # Conversion ratio between two energy units (INPUT:OUTPUT)
            S:conversionRatio=1:1
            B:disable=true
        }

        ev {
            # Conversion ratio between two energy units (INPUT:OUTPUT)
            S:conversionRatio=1:1
            B:disable=true
        }

    }

    infinite_energy_emitter {
        B:disableFEEmitter=true
        B:disableGTEUEmitter=true
        B:disableIC2EUEmitter=true
    }

    infinite_energy_receiver {
        B:disableFEReceiver=true
        B:disableGTEUReceiver=true
        B:disableIC2EUReceiver=true
    }

}


